body{
    background: rgba(174, 231, 238, 0.73);
}
header{
    
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#AFB60C;
    text-align: center;
    vertical-align:bottom;
    margin-top: 20px;
    width: 1000px;
    height: 75px;
}

ul{
    padding: 10px;    
    display: inline-block;
    list-style: none;
    border: black solid;
}
div{
    padding: 10px;    
    display: inline-block;
    list-style: none;
    border: black solid;
}
.texto1{/*esto es div*/
    display: inline-block;
    float:left;
    width: 55%;
}
.texto2{/*esto es ul*/
    float:right;
    width: 35%;
}
.botones{
    width: 250px;
    height: 50px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    text-align: center ;
    color: #0A3871;
    border-radius: 24px;
    gap: 8px;
    background: #FFFFFF;
    vertical-align: bottom;
    margin: 1%;
}

#textoUsuario{
    display: block;
    width:510px;
    height: 500px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: middle;
    border:none;
    background: none;
}
#cajaresultado{
    width: 300px;
    height: 500px;
    border:none;
    background: none;
}

